@charset 'UTF-8';
@import 'mixins';

$trans: all 0.2s ease-in-out;

// @include font-face('fontName', '../fonts/fontPath/fontName', normal);

::selection {
    // background: cyan;
}

body {
    font-family: sans-serif;
    font-size: 14px;
    color: #000;
}

* {
    box-sizing: border-box;
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
}

h1,
h2,
h3,
p,
ul {
    margin-top: 0;
}

.btn,
input,
textarea,
select,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.btn {
    display: inline-block;
    transition: $trans;
    text-decoration: none;
    border: 0;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &.center {
        @include centerX;
    }

    &.mobile {
        @include r(767) {
            padding-left: 0;
            padding-right: 0;
            width: 100%;
            transform: none;
            left: initial;
            text-align: center;
        }
    }
}

.container {
    @include r(1139) {
        padding: 0 15px;
    }

    margin: 0 auto;
    max-width: 1109px;
}
