@charset 'UTF-8';
@import 'mixins';

$trans: all .2s ease-in-out;

// @include font-face('fontName', '../fonts/fontPath/fontName', normal); 

.icon {
	display: inline-block;
	width: 2em;
	height: 2em;
	font-size: 30px;
}

* {
	box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul {
	margin-top: 0;
}

.btn,
input,
textarea,
button:focus {
	outline: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	display: inline-block;
	transition: $trans;
	text-decoration: none;
	border: 0;
	cursor: pointer;

	&:focus {
		outline: none;
	}
}

.container {
	@include r() {
		padding: 0 20px;
	}

	margin: 0 auto;
}